.col-md-12
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %a.navbar-brand{ href: 'http://www.wikipedia.com'} YouTube Defender Project
      %ul.nav.navbar-nav
        %li.active
          = link_to 'Videos List', videos_path
        %li
          %a{href: '#'}blah
        %li
          %a{href: '#'}blah